<hi>Home Page</hi>
<%= link_to "Add new", new_path %>
<h4>White water rafting</h4> 

<!-- image came from http://www.adventurelinks.ie/whitewater.php#more -->
<%= link_to image_tag("whitewater.png", alt: "Austraila"), 'http://www.raftingaustralia.com.au/' %>

<!-- image camehttp://www.skystartravels.com/11/nepal/bungy-jump-in-nepal.html -->
</br>
<h4>Bungee Jumping</h4> </br>
<%= link_to image_tag("bungee.png", alt: "America"), 'http://www.bungeezone.com/clubs/americas/usa/'  %>